#root {
  --pointSize: 30px;
  margin: 0 auto;
  text-align: center;
}

.App {
  height: 100vh;
  width: 100vw;
}

.buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100vw;
}

.point {
  width: var(--pointSize);
  height: var(--pointSize);
  background: pink;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}